/*
 * Empty Stylesheet file.
 */
.loginBtn{
 
   -fx-background-radius: 15px;
    -fx-border-color: #c8ff48;
   
        
    
}
.loginBtn:hover{
    -fx-background-color: #ffffff;
     -fx-background-radius: 15px;
    -fx-text-fill: #006400;
    -fx-border-color: #c8ff48;
    -fx-border-width: 1px;
    -fx-border-style: solid;
     -fx-border-radius: 3px;
}
.RegisterBack{
    -fx-background-color: #FFFFFF
}
.descarga{
    -fx-background-color: transparent;
    
}
.descarga:hover{
     -fx-background-radius: 2px;
     -fx-border-color: #c8ff48;
    -fx-border-width: 1px;
    
    
}
.circle {
    width: 200px;  /* Ajusta al tamaño deseado */
    height: 200px;  /* Ajusta al tamaño deseado */
    border-radius: 50%;  /* Hace que los bordes sean redondeados */
    overflow: hidden;  /* Oculta cualquier parte de la imagen que se salga del contenedor */
    display: flex;  /* Opcional: para centrar la imagen */
    align-items: center;  /* Opcional: para centrar la imagen */
    justify-content: center;  /* Opcional: para centrar la imagen */
}

.circle img {
    max-width: 50%;  /* Evita que la imagen se agrande más que el contenedor */
    height: auto;  /* Mantiene la proporción de la imagen */
    object-fit: cover;  /* Hace que la imagen cubra el área del contenedor manteniendo sus proporciones */
}
